$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab2: "screen and (max-width:923px)",
  tab: "screen and (max-width:760px)",
  sp: "screen and (max-width:375px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


.footerWrapper{
  max-width: 100%;
  background-image: linear-gradient(90deg, rgb(205, 176, 109), #f7f5e6);
  padding-bottom: 20px;
  margin-top: 150px;

}
.footerFlex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 30px 0;
  p{
    font-size: 20px;
    @include mq(sp){
      margin: 0 auto;
    }
    @include mq(tab){
      margin: 0 auto;
    }
  }
}

.footerList{
  display: flex;
  li{
    padding-right: 20px;
  @include mq(sp){
    display: none;
  }
  @include mq(tab){
    display: none;
  }
  }
}

.creator{
  text-align: center;
}