
// .headerFlex{
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   padding: 2%;
//   height: 100px;
//   background-image: linear-gradient(90deg, rgba(172, 172, 172, 1), rgba(233, 233, 233, 1));
//   h1{
//     margin-right: 60px;
//   }
// }

// .headerspan{
//   position: relative;
// }

// .headerspan::after {
//   position: absolute;
//   left: 0;
//   content: '';
//   width: 100%;
//   height: 2px;
//   background: RGB(26, 89, 136);
//   bottom: -10px;               /*アンダーラインがaタグの下端から現れる*/
//   transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
//   transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
//   transition: transform 0.5s; /*変形の時間*/
//   }
  
//   .headerspan:hover::after {
//   transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
//   }
  



// .headerNav{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   ul{
//     font-size: 15px;
//     display: flex;
//     li{
//       margin-right: 20px;
//     }
//   }
// }

.headerFlex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  height: 100px;
  background-image: linear-gradient(90deg, rgb(205, 176, 109), #F7F5E6);

  h1{
    margin-right: 60px;
  }
}

.headerspan{
  position: relative;
}

.headerspan::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: RGB(107, 1, 0);
  bottom: -10px;               /*アンダーラインがaタグの下端から現れる*/
  transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  transition: transform 0.5s; /*変形の時間*/
  }
  
  .headerspan:hover::after {
  transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
  }
  



.headerNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul{
    font-size: 15px;
    display: flex;
    li{
      margin-right: 20px;
    }
  }
}
