%itemsPositionCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.test2wrapper {
  overflow: hidden;
}


// *{
//   outline: 2px red solid;
// }

//レスポンシブ
$breakpoints: (
  display: "screen and (min-width:1920px)",
  pc: "screen and (min-width:1200px)",
  surface:"screen and (min-width:912px)",
  nest:"screen and (max-width:1024px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
  galaxy: "screen and (max-width:280px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.hotelName {
  display: flex;

  p {
    font-size: 100px;

    @include mq(sp) {
      font-size: 40px;
    }

    @include mq(tab) {
      font-size: 30px;
    }
  }
}


// ヘッダー　トップ画面
.topImage {
  width: 100%;
  // height: 100vh;
  height: 800px;
  // padding-top: calc(600 / 600 * 100%); 
  /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url("../../../public/topImage/sofa.jpg") center center / cover no-repeat;
  @extend %itemsPositionCenter;

  @include mq(nest) {
    width: 1024px;
    height: 400px;
  }

  @include mq(galaxy) {
    width: 280px;
    height: 100vh;
  }

  @include mq(display) {
    height: 100vh;
  }
}

.scrolldown2 {
  cursor: pointer;
  /*描画位置*/
  position: absolute;
  display: flex;
  bottom: 200px;
  left: 50%;
  padding:100px;
  // background-color: red;
  @include mq(pc) {
    bottom: 100px;
  }

  @include mq(tab) {
    bottom: 200px;
  }

}

/*Scrollテキストの描写*/
.scrolldown2 span {
  cursor: pointer;
  /*描画位置*/
  // background-color: blue;
  position: absolute;
  padding:30px 5px;
  left: 10px;
  bottom: 5px;
  /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #eee;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation:
    circlemove 5s ease-in-out infinite,
    cirlemovehide 5s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 100px;
  }

  100% {
    bottom: -5px;
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

/* 線の描写 */
.scrolldown2:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 110px;
  background: #eee;
}

.roomsImagePic {

  width: 200px;
  height: 200px;

  @include mq(sp) {
    width: 100px;
    height: 100px;
  }

}


.hotelName {
  color: white;
  z-index: 10;
  margin: auto;
  font-size: 70px;
  top: 30%;

  @include mq(sp) {
    font-size: 60px;
  }

  @include mq(nest) {
    left: 22%
  }

  @include mq(display) {
    left: 35%;
    top: 45%;
  }

  @include mq(galaxy) {
    left: 5%;
    top: 40%;
    font-size: 20px;
  }

  @include mq(tab) {
    left: 0%;
    top: 40%;
    font-size: 20px;
  }


  animation-name:fadeIn;
  animation-duration: 4s;
}

.scrollImage {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 45%;
  bottom: 5%;
  z-index: 10;
  opacity: 0;

  @include mq(galaxy) {
    height: 70px;
    left: 10%;
    bottom: 250px;
  }

  @include mq(sp) {
    display: none;
  }

  @include mq(tab) {
    display: none;
  }

  animation-name:bound;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count:infinite;
}


// おすすめプラン　セクション
.recommendPlanSection {
  @extend %itemsPositionCenter;
  height: 100vh;
  height: fit-content;

}

.roomsImagePicWrapper {
  display: flex;
  align-items: center;
  margin-right: 200px;

  @include mq(sp) {
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
  }

  @include mq(tab) {
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
  }
}


.test {
  height: 1000px;
  background-color: aqua;

  @extend %itemsPositionCenter;
}

.test2 {
  height: auto;
  // background-color: aqua;

  @extend %itemsPositionCenter;
  margin: 80px auto;
}


.roomsIntroductionDetail {
  text-align: center;

}


// Swiper　設定
.swiperColsFrame {
  margin: 10px 0;

  // background-color: blueviolet;
  @include mq(galaxy) {
    margin: auto;
  }
}

.swiperCols {
  width: 550px;
  height: 450px;
  margin: 10px 10px;
  // padding: 10px;
  background-color: rgb(243, 243, 243);
  box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.548);
  // border-radius: 20px  ;

  @include mq(sp) {
    width: 300px;
    height: 300px;
  }

  // @extend %itemsPositionCenter;

}

.swiperBody {
  width: 1200px;
  // background-color: red;
  padding: 30px 0;
  position: relative;

  @include mq(galaxy) {
    width: 280px;
  }

  @include mq(sp) {
    width: 450px;
  }
}

.swiperPlanImage {
  height: 250px;
  width: 550px;

  // border-radius: 20px 20px 0 0;
  @include mq(sp) {
    height: 150px;
    width: 200px;
  }

}

.swiperPlanTitle,
.swiperPlanInformation {
  margin: 10px auto;
}

.swiperPlanTitle {
  @include mq(sp) {
    margin: 0;
    font-size: 13px;
  }
}

.swiperPlanInformation {
  @include mq(sp) {
    margin-top: 25px;
    font-size: 10px;
  }
}

.swiperPlanSentenceGroup {
  @extend %itemsPositionCenter;
  margin: 20px auto;
  width: 480px;

  @include mq(sp) {
    margin: 2px;
  }
}


// 部屋紹介セクション
.roomsIntroductionCols {
  @extend %itemsPositionCenter;
  width: 100%;

  padding: 40px 0;
  display: flex;
  flex-direction: row;

}



.roomsIntroductionImgae {
  height: 350px;
  width: 600px;
  // border-radius: 20px;
  margin: 0 50px;
  box-shadow: 5px 2px 5px rgba(128, 128, 128, 0.548);

  @include mq(sp) {
    height: 250px;
    width: 400px;
  }
}

.roomsIntroductionBtton {
  padding: 20px 30px;
  margin: 20px;
  border: 1px solid #111;
}

.roomsIntroductionSentence {
  width: 450px;
  margin: 0 100px;
  text-align: center;

  p {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  // background-color: blueviolet;
}

.roomsIntroductionTitle {
  // font-size: 30px;
  // margin: 30px 0;
  // background-color: beige;
  padding-bottom: 10px;
  padding-top: 20px;
  margin: 0 auto;
}

// .roomsIntroductionInformation{
//   // background-color: darkcyan;

// }

.roomsIntroductionTitle {
  font-size: 30px;
  text-align: center;
  width: 300px;
}

// 以下、アニメーション

// トップ画面　矢印　バウンド
@keyframes bound {
  0% {
    transform: translateY(-15px);
    opacity: 0.5;
  }

  50% {
    transform: translateY(15px);
    opacity: 1;
  }

  100% {
    transform: translateY(-15px);
    opacity: 0.5;
  }
}



// トップ画面　文字fade-in
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  50% {
    opacity: 1;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
  }
}




// トップ画面　スライドショー
@keyframes topImgaeSlide {
  0% {
    opacity: 1;
    background: url("../../../public/topImage/sofa.jpg") center center / cover no-repeat;

  }

  40% {
    opacity: 1;
    background: url("../../../public/topImage/lobbySide.jpg") center center / cover no-repeat;
  }

  60% {
    opacity: 1;
    background: url("../../../public/topImage/lobbySide.jpg") center center / cover no-repeat;
  }

  80% {
    opacity: 1;

  }

  100% {
    opacity: 1;

  }
}


//NEWS
.newsContainer {
  text-align: center;
  line-height: 35px;
  width: 700px;
  margin: 0 auto;
  @include mq(sp) {
    width: 300px;
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    padding: 8px;
  }
  @include mq(sp) {
    font-size: 14px;
  }
}

.newsContainer p:hover {
  opacity: 0.7;
}
