.subscriber {
  background-color: #c0c0c0;
  margin: 30px 20px;
  padding: 10px;
  width: 50%;
}

.lodger {
  background-color: #c0c0c0;
  margin: 0 20px;
  padding: 10px;
  width: 50%;
}

.lodger ul {
  list-style-type: none;
}

.reservateplan {
  background-color: #c0c0c0;
  width: 50%;
  height: 432px;
  margin: 30px 20px;
  padding: 10px;
}

.reservateplan ul {
  list-style-type: none;
}

.payment {
  background-color: #c0c0c0;
  margin: 20px 20px 30px 20px;
  padding: 10px;
}

.information {
  display: flex;
}

input {
  border: 1px solid black;
}

.reservateButton {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  background-color: #3399ff;
  border-radius: 10px;
}

.reservateButton button {
  color: white;
}

.accordion-menu button {
  text-align: left;
  width: 100%;
  background-color: #ff8c00;
  // padding: 0.5rem;
}

.person-information {
  width: 1600px;
}
