$red :  rgb(178, 12, 12);
$gold : rgb(205, 176, 109);
$gray : #C0C0C0;

.clearBtn {
  color: $gold;
  background-color: #fff;
  width: 100px;
  height: 45px;
  // font-weight: bold;
  font-size: 18px;
  border: solid 1px ;
  margin: 20px;
}

.clearBtn:hover {
  opacity: 0.8;
}

.registerButton {
  width: 100px;
  height: 45px;
}

 .main{
  margin: 100px 0 0 0;
  flex-wrap: wrap;
  height: 1200px;
 }

 .form {
  position: absolute;
  top:25%;
  left: 50%;
  transform: translateX(-50%);
 }


 .buttonGroup {
  float: right;
 }
