.custom_bullet {
  background: white;
  opacity: 0.5;
}

.custom_bullet_active {
  background: white;
  opacity: 1;
}

.swiper-wrapper {
  width: 500px !important;
  background-color: aliceblue !important;
  margin: 0 auto;
  position: absolute;
  background-color: red;
}

.main {
  margin:100px;
  display: flex;
  margin: 40px auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.topImage {
 width: 50%;
 height: auto; 
}
