//共通

* {
  color: rgb(65, 65, 65);
  max-width: auto;
 
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

//レスポンシブ
$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//第一引数は変数、第二引数はマップ型のキーを渡す

// ページタイトル

.soartStyle {
  padding: 20px 20px 50px 20px;
  text-align: right;
  button {
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(130, 130, 130);
    width: 120px;
    height: 35px;
    color: #fff;
    text-align: center;
    @include mq(sp) {
      width: 100px;
      padding: 5px;
      font-size: 10px;
      margin: 5px;
    }
  }
  @include mq(sp) {
    padding: 10px;
    text-align: center;
  }
}

//planの下のカード
.roomplanCard{
  display: flex;
  justify-content: space-between;
  padding: 2% 2% 2%;
}

.roomplantitle{
  font-size: 30px;
  border-bottom: 1px solid rgb(72, 72, 72);
  margin-bottom: 10px;
  display: inline-block;
}

.roomplanContainer{
  width: 500px;
  padding-left: 10px;
  text-align: center;
  p{
    padding-bottom: 2%;
  }
}

.roomplanPrice{
  margin-left: 20px;
  padding-top: 20px;
  font-size: 32px;
  text-align: center;
  span {
    font-size: 20px;
  }
}

.roomplan{
  font-size: 27px;
  padding-left: 14px;
  padding-bottom: 5px;
}

.roomplanBtnPrice{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomplanWrapper{
  display: flex;
  button{
    margin-left: 30px;
  }
}

//
// gestroom下のcard
.roomplantext{
  font-size: 22px;
  padding-bottom: 5px;


}

.roomplanButton{
padding-top: 30px;
display: inline-block;
align-items: right;
}

.roomplanCards{
  display: flex;
  justify-content: space-between;
  padding: 2% 2% 2%;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  margin: 20px;
}

.pageTitle {
  display: inline-block;
  font-size: 25px;
  margin: 60px 60px 20px 60px;
  padding: 3px;
  border-bottom: 1px dotted rgb(57, 57, 57);
  @include mq(sp) {
    font-size: 23px;
    text-align: center;
  }
}
//roomLink
.roomLinkWrapper {
  font-size: 18px;
  padding-left: 4%;
}
.roomLink {
  padding-bottom: 2px;
  font-weight: bold;
  display: inline-block;
  border-bottom: solid 5px rgb(26, 89, 136);
}

//roomcard

.roomPlanCard {
  padding: 20px;
  max-width: 880px;
  margin: 0 auto;
  background-color: rgb(248, 248, 248);
  box-shadow: -2px -2px 15px -5px #9e9e9e;
  border-radius: 0px;
  margin-bottom: 60px;
  @include mq(tab) {
    box-shadow: none;
  }
}

.cardTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  @include mq(tab) {
    flex-direction: column;
    text-align: center;
  }
  @include mq(sp) {
    flex-direction: column;
    text-align: center;
  }
}

.roomArea {
  padding-left: 10px;
}

.roomName {
  font-size: 40px;
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px RGB(26, 89, 136);/*左線*/
}

.detailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @include mq(tab) {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  @include mq(sp) {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}

.ResarvedRoomBtn {
  text-align: right;
  margin-right: 20px;
  @include mq(tab) {
    text-align: center;
    margin-right: 0;
  }
  @include mq(sp) {
    text-align: center;
    margin-right: 0;
  }
}

.roomCapacity {
  padding-bottom: 20px;
  font-size: 18px;
}

.bedType {
  padding-bottom: 20px;
  font-size: 18px;
}

.roomEquipmentTitle {
  font-size: 20px;
}

.roomEquipment{
  width: 400px;
}

.roomDetails {
  padding-left: 20px;
  p {
    text-align: center;
  }
}

.roompic {
  width: 350px;
  height: 250px;
}

.planpic{
  width: 300px;
  height: 250px;
}

.roomPrice {
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  span {
    font-size: 20px;
  }
}

.planReserveBtn {
  border: 1px solid;
  background-color: rgb(101, 109, 183);
  border-radius: 10px;
  color: #fff;
  width: 150px;
  height: 80px;
  @include mq(tab) {
    height: 50px;
  }
  @include mq(sp) {
    height: 50px;
  }
}

//Plan

.planLinkWrapper {
  font-size: 18px;
  padding-left: 4%;
}
.planLink {
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 2px;
  font-weight: bold;
  border-bottom: solid 5px rgb(26, 89, 136);
}

.planName {
  margin-top: 30px;
  font-size: 28px;
  margin-bottom: 30px;
  display: inline-block;
  
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px RGB(26, 89, 136);/*左線*/
  
}

.planWrapper {
  p {
    font-size: 15px;
    padding: 3px;
  }
}

.sectionTitle {
  margin-top: 30px;
  font-size: 25px;
  margin-bottom: 20px;
}

.planDetail {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.plantitle {
  font-size: 20px;
  @include mq(tab) {
    padding: 20px;
  }
  @include mq(sp) {
    padding: 20px;
  }
}

.planpic {
  width: 450px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

//btn

.ResarvedPlanBtn{
  margin-top: 30px;
  margin-bottom: 20px;
  margin: 30px 0 30px 300px;
  text-align: center;
  padding: 20px;
}


//empty

.emptyroom{
  text-align: center;
  font-size: 50px;
  margin: 50px;
  color: #494949;
}

// .emptyroomRecomend{
//   text-align: center;
//   font-size: 30px;
  
// }

.emptyroomRecomend{
  font-size: 30px;
  position: relative;
  padding: 0.6em;
  background: #e0edff;
}

.emptyroomRecomend:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}

.resetBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//error
.err{
  text-align: center;
  margin-top: 20px;
  color: red;
}

.reservedCheck {
  font-size: 13px;
  display: block;
  text-align: center;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #000;
  display: inline-block;
}