.pagingWrapper{
  margin: 60px 0 20px 0;
  text-align: center;
  button{
    border: 2px solid rgb(128, 128, 128);
    background-color: #fff;
    // border-radius: 5px;
    padding: 14px;
    margin-right: 10px;
  }
}

.pagingdetail{
  margin-top: 10px;
}