//共通
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Shippori+Mincho&display=swap');

* {
  color: rgb(65, 65, 65);
  max-width: auto;
  font-family: 'Noto Serif JP', serif;
}

//レスポンシブ
$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
    
  }
}
//第一引数は変数、第二引数はマップ型のキーを渡す

//searchcard


.container {
  margin-top: 60px;
  max-width: 880px;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  box-shadow: -3px 5px 43px -22px #9e9e9e;
  border-radius: 35px;
  padding: 20px;
  @include mq(sp) {
    max-width: 380px;
    margin: 0 auto;
  }
}

.checkContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 20px;
  flex-wrap: no-wrap;
  @include mq(sp) {
    flex-direction: column;
    margin: 0 auto;
  }
  @include mq(tab) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.checkp{
  margin-top: 20px;
  border: 1px solid rgb(101, 109, 183);
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  width: 120px;
}

.checkbtn{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  border-bottom: 1px solid #000;
}

.adult {
  margin-left: 50px;
  @include mq(sp) {
    margin: 0 auto;
    margin: 20px;
  }
}

.checkinDate {
  margin-right: 30px;
  @include mq(sp) {
    margin: 0 auto;
  }
}

.searchbtn {
  border-radius: 5px;
  color: #fff;
  width: 170px;
  height: 55px;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  // border: 1.5px solid #6a6a6a;
  position: relative;
  transition: 0.3s;
  background-color: rgb(137, 0, 0);
}

.searchbtn::before,.searchbtn::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform-origin: 100% 50%;
  height: 1px;
  width: 11px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  will-change: transform;
  transition: .4s;
  
}


.searchbtn::before {
  transform: translateY(-50%) rotate(30deg);
}

.searchbtn::after {
  transform: translateY(-50%) rotate(-30deg);
}

.searchbtn:hover::before {
  transform: translate(5px, -50%) rotate(30deg);
}

.searchbtn:hover::after {
  transform: translate(5px, -50%) rotate(-30deg);
}

.searchbtn:hover {
  opacity: 0.8;
  color: rgb(244, 244, 244);
  border: none;
}

.secondrybtn{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  border-radius: 0px;
  width: 220px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  background-color: #ffffff;
}

.secondrybtn::before, .secondrybtn::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
  transition: .3s;
}

.secondrybtn::before {
  top: -2px;
  left: -2px;
}

.secondrybtn::after {
  top: 2px;
  left: 2px;
}

.secondrybtn:hover::before, .secondrybtn:hover::after {
  top: 0;
  left: 0;
}

.serchInput {

  margin-top: 20px;
  border: 1.5px solid rgb(57, 57, 57);
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  @include mq(sp) {
    width: 150px;
  }
}

.rightBtn{
  text-align: right;
  padding: 2%;
  margin-right: 50px;
}

.adult {
  margin-left: 30px;
  font-size: 18px;
  @include mq(tab) {
    margin-top: 20px;
  }
  @include mq(sp) {
    margin: 20px 0 20px 0;
  }
}

.children {
  margin-left: 40px;
  font-size: 18px;

  @include mq(sp) {
    margin: 0 0 20px 35px;
    padding-top: 20px;
  }
  @include mq(tab) {
    margin: 0 0 20px 35px;
    padding-top: 20px;
  }
}

.roomSerch {
  padding-top: 25px;
  padding-left: 20px;
  font-size: 18px;
  select {
    @include mq(sp) {
      margin-bottom: 10px;
    }
  }
}

.obsessionContainer {
  padding: 20px;
  font-weight: normal;
}

.conditions {
  font-size: 22px;
  border-top: 1px solid rgb(193, 193, 193);
  border-bottom: 1px solid rgb(193, 193, 193);
  padding-top: 20px;
  padding-bottom: 20px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include mq(sp) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.roomPrice {
  margin-top: 30px;
  margin-right: 200px;
  p {
    padding-left: 20px;
    font-size: 18px;
  }
  @include mq(sp) {
    margin: 15px 0 20px 0;
  }
}


.priceroomSelect {
  border: 1.5px solid rgb(61, 61, 61);
  padding: 8px 20px 8px 10px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 20px;
  width: 200px;
  height: 50px;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.clearBtn{
  width: 880px;
  text-align: right;
  padding-right: 110px;
}

//Modal

.title{
  margin: 0 auto;
  color: #4f4f4f;
}

.modalSelectcount{
  text-align: center;
  border: 2px solid rgb(229, 229, 229);
  background-color: rgb(245, 244, 244);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  select{
    border: 1px solid rgb(70, 70, 70);
    padding: 5px 20px 5px 10px;
    border-radius: 2px;
    position: relative;
    margin-left: 18px;
    background-color: #fff;
    flex-grow:0;
  }
}

.arrow{
  position:absolute;
  margin-left: 100px;
}

.modalSelectroom{
  text-align: center;
  border: 2px solid rgb(229, 229, 229);
  background-color: rgb(245, 244, 244);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  select{
    border: 1px solid rgb(44, 61, 79);
    padding: 3px;
    border-radius: 2px;
    margin-left: 30px;
    background-color: #fff;
  }
}

.modalCheckContainer{
  margin-top: 10px;
  text-align: center;
  border: 2px solid rgb(229, 229, 229);
  background-color: rgb(245, 244, 244);
  padding: 10px;
}

.closeBtnFlex{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-bottom: 10px;
}

.closeBtn{
  padding: 10px;
  margin-left: 50px;
  border: #9e9e9e 3px solid;
  background-color: #9e9e9e;
  border-radius: 3px;
  color: #fff;
}

.closeBtnBottom{
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: #9e9e9e 3px solid;
  background-color: #9e9e9e;
  border-radius: 3px;
  color: #fff;
}

//↓下矢印


