//共通
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  color: rgb(65, 65, 65);
  max-width: 100%;
  font-family: "Kosugi Maru", sans-serif;
}

//コンポーネント背景色
// $mainColor: rgb(227, 227, 227);
$mainColor: #ffffff;

//レスポンシブ
$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.reservateComplete {
  text-align: center;
  margin: 80px auto;
  padding: 20px;
  background-color: $mainColor;
  width: 80%;
  box-shadow: 0px 0px 8px -4px #777777;
  h1 {
    display: inline-block;
    border-bottom: 5px solid #deb887;
  }
  @include mq(sp) {
    margin: 40px auto;
    width: 80%;
    font-size: 10px;
  }
  @include mq(tab) {
    width: 70%;
    font-size: 12px;
    margin: 40px auto;
  }
}

.reservateComplete p {
  line-height: 40px;
  margin-top: 30px;
}

.link {
  margin: 50px auto 0 auto;
  position: relative;
  width: 10%;
}


.link a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: RGB(107, 1, 0);
  bottom: -10px;               /*アンダーラインがaタグの下端から現れる*/
  transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  transition: transform 0.5s; /*変形の時間*/
  }

  .link a:hover::after {
    transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
  }

footer {
  width: 100%;
  position: absolute;
  bottom: 0; 
}
