//共通
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  color: rgb(65, 65, 65);
  max-width: auto;
  font-family: "Kosugi Maru", sans-serif;
}

//コンポーネント背景色
// $mainColor: rgb(227, 227, 227);
$mainColor: #ffffff;

//レスポンシブ
$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.HistoryTitle {
  text-align: center;
  margin: 50px;
}

//宿泊待ち予約
.unReserveTitle {
  background-color: pink;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px -4px #777777;
  width: 500px;
  margin: 50px auto 30px auto;
  text-align: center;
  padding: 40px;
  line-height: 40px;
  button {
    padding: 0 10px;
    border-radius: 50px;
    margin-top: 10px;
    border: 2px solid #deb887;
    background-color: #deb887;
    transition: 0.7s;
  }
}

.unReserveTitle button:hover {
  background-color: #ffffff;
  transition: 0.7s;
}

.unLodger {
  width: 800px;
  margin: 20px auto;
  padding-bottom: 10px;
  background-color: $mainColor;
  max-height: 900px;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    width: 300px;
    font-size: 10px;
    margin: 10px auto;
  }
  @include mq(tab) {
    width: 300px;
    font-size: 10px;
    margin: 0 auto;
  }
}

.unLodgerContents {
  margin: 20px 20px 0 20px;
  display: flex;
}

.unLodgerContentsList {
  display: flex;
  p {
    margin: 15px 20px 0 20px;
    width: 66%;
  }
  button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(171, 171, 171);
    color: #fff;
  }
}

.unReservateDetails {
  background-color: rgb(227, 227, 227);
  margin: 15px 20px 20px 20px;
  width: 95%;
  border-radius: 5px;
  span {
    display: inline-block;
    width: 150px;
    margin-left: 10px;
  }
  ul {
    line-height: 30px;
  }
}

//宿泊済み予約
.ReservedTitle {
  background-color: #ffffff;
  box-shadow: 0px 0px 8px -4px #777777;
  width: 500px;
  margin: 20px auto;
  text-align: center;
  padding: 40px;
  line-height: 40px;
  button {
    padding: 0 10px;
    border-radius: 50px;
    margin-top: 10px;
    border: 2px solid #deb887;
    background-color: #deb887;
    transition: 0.7s;
  }
}

.ReservedTitle button:hover {
  background-color: #ffffff;
  transition: 0.7s;
}

.lodged {
  width: 800px;
  margin: 20px auto;
  padding-bottom: 10px;
  background-color: $mainColor;
  max-height: 900px;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    width: 300px;
    font-size: 10px;
    margin: 10px auto;
  }
  @include mq(tab) {
    width: 300px;
    font-size: 10px;
    margin: 0 auto;
  }
}

.lodgedContents {
  margin: 20px 20px 0 20px;
  display: flex;
}

.lodgedContentsList {
  display: flex;
  p {
    margin: 15px 20px 0 20px;
    width: 66%;
  }
  button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(171, 171, 171);
    color: #fff;
  }
}

.reservateDetails {
  background-color: rgb(227, 227, 227);
  margin: 15px 20px 20px 20px;
  width: 95%;
  border-radius: 5px;
  span {
    display: inline-block;
    width: 150px;
    margin-left: 10px;
  }
  ul {
    line-height: 30px;
  }
}

//2つの予約コンポーネント共通
.innerTitle {
  display: inline-block;
  border-bottom: 3px solid #deb887;
  margin: 10px;
}

.subTitle {
  border-bottom: 1px solid black;
  width: 550px;
  padding-bottom: 13px;
}
