//共通
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  color: rgb(65, 65, 65);
  max-width: 100%;
  font-family: "Kosugi Maru", sans-serif;
}

//コンポーネント背景色
$mainColor: rgb(227, 227, 227);

//レスポンシブ
$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.reservateComplete {
  text-align: center;
  margin: 80px auto;
  padding: 20px;
  background-color: $mainColor;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    font-size: 10px;
  }
}

.reservateComplete p {
  line-height: 40px;
  margin-top: 30px;
}

.link {
  margin-top: 50px;
}

.link a:hover {
  color: #483D8B;
}
