//共通
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  color: rgb(65, 65, 65);
  max-width: 100%;
  font-family: "Kosugi Maru", sans-serif;
}

//コンポーネント背景色
$mainColor: rgb(227, 227, 227);

//レスポンシブ
$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.subscriber {
  background-color: $mainColor;
  margin-top: 30px;
  // margin-left: 20px;
  padding: 10px;
  width: 550px;
  // width: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    width: 380px;
    font-size: 10px;
    margin: 0 auto;
  }
}

.subscriber p {
  margin-top: 10px;
}

.lodger {
  background-color: $mainColor;
  margin-top: 30px;
  // margin-left: 20px;
  margin-bottom: 30px;
  padding: 10px;
  width: 550px;
  // width: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    width: 380px;
    font-size: 10px;
    margin: 10px auto;
  }
}

.lodger ul {
  list-style-type: none;
}

.reservateplan {
  background-color: $mainColor;
  width: 550px;
  // width: 50%;
  height: 480px;
  margin-top: 30px;
  // margin-left: 120px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    width: 380px;
    font-size: 10px;
    margin: 10px auto;
  }
}

.reservateplan ul {
  list-style-type: none;
}

// .reservePlanContents {
//   display: flex;
// }

.reservateplan button {
  background-color: rgb(101, 109, 183);
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 0;
}

.reservateplan button:hover {
  opacity: 0.8;
}

.payment {
  background-color: $mainColor;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  width: 71%;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    font-size: 10px;
  }
}

.payment span {
  color: red;
}

.payment label {
  padding: 5px;
  font-size: 15px;
  @include mq(sp) {
    font-size: 10px;
  }
}

.paymentRadioBtn {
  margin-top: 10px;
}

.information {
  display: flex;
  justify-content: space-around;
  // background-color: pink;
  max-width: 1600px;
  max-height: 1500px;
  margin: 0 auto;
  @include mq(sp) {
  flex-direction: column;
  margin: 0 10px;
  }
  @include mq(tab) {
    width: 800px;
    display: block;
    margin: 0 auto;
    }
}

.input {
  margin-top: 5px;
  margin-right: 5px;
  background-color: $mainColor;
  border: solid 2px #C0C0C0;
  border-radius: 6px;
  padding: 8px;
  // @include mq(sp) {
  //   width: 150px;
  // }
}

.input:hover {
  border: solid 2px rgb(101, 109, 183);
}

textarea {
  width: 90%;
  height: 5rem;
  margin-bottom: 10px;
}

.reservateButton {
  width: 170px;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  padding: 18px;
  background-color: rgb(101, 109, 183);
  border-radius: 10px;
}

.reservateButton button {
  color: #fff;
}

.reservateButton:hover {
  opacity: 0.8;
}

.accordionMenu button {
  text-align: left;
  width: 90%;
  padding: 10px 0;
  // border-top: 0.5px solid black;
  border-bottom: 2px solid #C0C0C0;
}

.personInformation {
  // width: 1600px;
}

.cancel {
  margin: 5px;
}

.cancellist {
  margin: 5px 0;
}

.reservePlanList span {
  display: inline-block;
  width: 100px;
  margin-left: 10px;
}

.reservePlanList li {
  padding-top: 25px;
}


.totalPrice {
  background-color: rgb(247, 246, 234);
  width: 500px;
  height: 100px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  @include mq(sp) {
    font-size: 15px;
  }
  
}

.innertitle {
  display: inline-block;
  border-bottom: 3px solid #deb887;
}

.lodgerName {
  margin: 15px;
  line-height: 20px;
}

.lodgerName label {
  font-size: 14px;
  @include mq(sp) {
    font-size: 10px;
    }
  
}

.lodgerContents {
  margin: 15px;
}

.checkTime {
  margin-bottom: 15px;
}

.arrivalText {
  margin-right: 10px;
}

.payment span {
  font-size: 10px;
  padding: 5px;
  border-radius: 6px;
  background-color: rgb(220 38 38);
  color: white;
  transform: translateY(-2px) translateX(8px);
  position: absolute;
} 

.cancel {
  margin-top: 10px;
  line-height: 25px;
}

.cancellist {
  background-color: #fffef8;
  width: 90%;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 10px;
}

// .reservePlanContents {
//   height: auto;
// }


.reservateplanBtn button {
  display: block;
  margin: 50px auto;
  width: 150px;
  height: 50px;
}

#overlay{
  /*　画面全体を覆う設定　*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
  
    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
