//共通
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  color: rgb(65, 65, 65);
  max-width: auto;
  font-family: "Kosugi Maru", sans-serif;
}

//コンポーネント背景色
// $mainColor: rgb(227, 227, 227);
$mainColor: #ffffff;

//レスポンシブ
$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


.reservatehistoryTitle {
  text-align: center;
  margin: 50px;
}

.unLodger {
  width: 800px;
  max-height: 1150px;
  margin: 20px auto;
  background-color: $mainColor;
  border-radius: 20px;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    width: 300px;
    font-size: 10px;
    margin: 0 auto;
  }
  @include mq(tab) {
    width: 300px;
    font-size: 10px;
    margin: 0 auto;
  }
}

.lodged {
  width: 800px;
  margin: 20px auto;
  padding-bottom: 10px;
  background-color: $mainColor;
  max-height: 900px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px -4px #777777;
  @include mq(sp) {
    width: 300px;
    font-size: 10px;
    margin: 10px auto;
  }
}

.lodgedContents {
  margin: 20px 20px 0 20px;
  // padding-bottom: 20px;
  display: flex;
}

.reservateDetails {
  background-color: rgb(196, 196, 196);
  margin: 15px 20px 20px 20px;
  width: 69%;
  border-radius: 10px;
}

.lodgedContentsList {
  display: flex;
}

.lodgedContentsList p {
  margin: 15px 20px 0 20px;
  width: 66%;
}

.lodgedContentsList button {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(171, 171, 171);
  border-radius: 10px;
  color: #fff;
}

.lodgedContentsList button:hover{
  opacity: 0.8;
}

.unLodgerContents {
  display: flex;
  @include mq(sp) {
    display: block;
  }
}

.unLodgerContents ul {
  margin: 15px 0;
  background-color: rgb(196, 196, 196);
  border-radius: 10px;
}

.unLodgerContents span {
  display: inline-block;
  width: 100px;
  margin-left: 10px;
}

.unLodgerContents button {
  width: 100px;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(171, 171, 171);
  border-radius: 10px;
  color: #fff;
  @include mq(sp) {
    width: 50px;
    font-size: 10px;
  }
}

.unLodgerContents button:hover{
  opacity: 0.8;
}

.unLodgerContentsTotal {
  padding: 10px 5px;
  line-height: 20px;
}

.changeReservateBtn {
  // display: block;
  width: 170px;
  height: 40px;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(171, 171, 171);
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
}

.changeReservate input {
  margin-top: 5px;
  margin-right: 5px;
  background-color: $mainColor;
  border: solid 2px #C0C0C0;
  border-radius: 6px;
  border-radius: 5px;
  padding: 8px;
  width: 180px;
}

input:hover {
  border: solid 2px rgb(101, 109, 183);
}

.changeReservate ul{
  margin: 15px ;
  li {
    padding-bottom: 15px;
  }
}

.changeReservate button:hover {
  opacity: 0.8;
}

.changeReservateMessage {
  color: red;
  font-size: 15px;
}

.changeReservateMessage svg {
  stroke: red;
  margin-right: 5px;
}

.UnReserveTitle {
  background-color: #ffffff;
  box-shadow: 0px 0px 8px -4px #777777;
  width: 500px;
  margin: 50px auto 30px auto;
  text-align: center;
  border-radius: 20px;
  padding: 40px;
  line-height: 40px;
  button {
    padding: 0 10px;
    border-radius: 50px;
    margin-top: 10px;
    border: 2px solid #deb887;
    background-color: #deb887;
    transition: 0.7s;
  }
}

.UnReserveTitle button:hover {
  // color: #ffffff;
  background-color: #ffffff;
  transition: 0.7s;
}

// .UnReserveTitle svg {
//   font-size: 18px;
// }

.ReservedTitle {
  background-color: #ffffff;
  box-shadow: 0px 0px 8px -4px #777777;
  width: 500px;
  margin: 20px auto;
  text-align: center;
  border-radius: 20px;
  padding: 40px;
  line-height: 40px;
  button {
    padding: 0 10px;
    border-radius: 50px;
    margin-top: 10px;
    border: 2px solid #deb887;
    background-color: #deb887;
    transition: 0.7s;
  }
}

.ReservedTitle button:hover {
  // color: #ffffff;
  background-color: #ffffff;
  transition: 0.7s;
}

// .ReservedTitle svg {
//   font-size: 18px;
// }

.innerTitle {
  display: inline-block;
  border-bottom: 3px solid #deb887;
  margin: 10px;
}

.innerMessage {
  font-size: 13px;
  margin: 5px 20px;
  color: #deb887;
}

.unLodgerContentsTotal {
  margin-left: 20px;
  line-height: 30px;
}

.subTitle {
  border-bottom: 1px solid black;
  width: 550px;
  padding-bottom: 13px;
}

.cancel ul{
  padding: 5px 10px;
  margin: 10px 0;
  width: 65%;
}

.cancel span {
  color: red;
}

.cancelBtn {
  border-bottom: 2px solid #C0C0C0;
  width: 65%;
  text-align: left;
  margin: 10px 0;
}

.changeAfter {
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 20px;
  width: 50%;
  background-color: rgb(247, 246, 234);
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

.reservateDetails span {
  display: inline-block;
  width: 100px;
  margin-left: 10px;
}

.reservateDetails ul {
  line-height: 30px;
}

.numMessage {
  color: red;
  font-size: 14px;
}

// footer {
//   width: 100%;
//   position: absolute;
//   bottom: 0; 
// }
