.reservatehistoryTitle{
    text-align: center;
    margin: 50px;
}

.unLodger {
    width: 800px;
    margin: 20px auto;
    background-color: antiquewhite;
}

.lodged {
    width: 800px;
    margin: 20px auto;
    background-color: aquamarine;
}
