//共通
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  color: rgb(65, 65, 65);
  max-width: auto;
  font-family: "Kosugi Maru", sans-serif;
}

//コンポーネント背景色
$mainColor: rgb(227, 227, 227);

//レスポンシブ
$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:610px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.subscriber {
  background-color: $mainColor;
  margin: 30px 20px;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
}

.subscriber p {
  margin-top: 10px;
}

.lodger {
  background-color: $mainColor;
  margin: 0 20px;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
}

.lodger ul {
  list-style-type: none;
}

.reservateplan {
  background-color: $mainColor;
  width: 50%;
  height: 432px;
  margin: 30px 20px;
  padding: 10px;
  border-radius: 20px;
}

.reservateplan ul {
  list-style-type: none;
}

.payment {
  background-color: $mainColor;
  margin: 20px 20px 30px 20px;
  padding: 10px;
  border-radius: 20px;
}

.information {
  display: flex;
}

.input {
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid rgb(24, 25, 28);
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  // @include mq(sp) {
  //   width: 150px;
  // }
}

textarea {
  width: 80%;
  height: 5rem;
  margin-bottom: 10px;
}

.reservateButton {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  background-color: #3399ff;
  border-radius: 10px;
}

.reservateButton button {
  color: white;
}

.accordionMenu button {
  text-align: left;
  width: 100%;
  background-color: #ff8c00;
  // padding: 0.5rem;
}

.personInformation {
  width: 1600px;
}

.cancel {
  margin: 5px;;
}

.cancellist {
  margin: 5px 0;
}
