body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F5E6;
  font-family: 'Shippori Mincho', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
